/* DEFAULT / BASIC STYLING */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 1.125rem;
  margin-top: 0;
  font-family: "Ubuntu Mono", system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: #ffcce3;
}

/*
body.body-main {
  background-color: #ffcce3;
}
body.body-project {
  background-color: #C9DDFF;
}
body.body-experiment {
  background-color: #FFF4C9;
} */

img,
video {
  height: auto;
  max-width: 100%;
}

/* FOOTER STYLING */

footer {
  display: none;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-top: 1.0rem;
  margin-bottom: 0;
}

/* HEADER STYLING */

header {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;

  position: sticky;
  top: 0px;
  z-index: 999;
  justify-content: space-around;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #ffcce3;
  text-decoration: none;
}

.page-logo-link {
  text-decoration: none;
}

.page-logo-link:current {
  width: 100%;
  transition: transform 0.15s;
}

.page-logo-text {
  margin-top: 0.625rem;
  font-family: "Rubik", system-ui;
  font-size: 4.0rem;
  font-weight: 600;
  color: #3183fa;
  text-decoration: none;
  text-shadow: 0.3125rem 0.3125rem #f7da5c;
  transition: text-shadow 0.15s;
}

.page-logo-text:hover {
  text-shadow: none;
}

.page-logo-link:hover {
  transform: translate(5px, 5px);
}

/* NAVBAR STYLING*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  transition: transform 0.15s;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: right;
}

.navbar-item {
  margin: 0.625rem;
  padding: 0.625rem;
  background-color: #f7da5c;
  box-shadow: 5px 5px 0 0 #3183fa;
  color: #3183fa;
  font-size: 1.375rem;
  font-weight: 400;
  text-decoration: none;
  transition: box-shadow 0.15s;
}

.navbar-item-active {
  margin: 0.625rem;
  padding: 0.625rem;
  background-color: #3183fa;
  box-shadow: 0.3125rem 0.3125rem 0 0 #f7da5c;
  color: #f7da5c;
  font-size: 1.375rem;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  transition: box-shadow 0.15s;
}

li:hover {
  transform: translate(5px, 5px);
}

li a:hover {
  box-shadow: none;
}

li a.navbar-item:active,
i a.navbar-item:focus {
  box-shadow: none;
  background-color: #3183fa;
  color: #f7da5c;
  transform: translate(5px, 5px);
}

/* INDEX PAGE MAIN CONTENT STLYING */
.project-main {
  display: flex;
  width: 80%;
  height: 100%;
  max-width: none;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 3.0rem;
  grid-row-gap: 3.0rem;
}

.project-div {
  display: flex;
  width: 80%;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.project-link {
  width: 100%;
  height: 100%;
}

.project-img {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: none;
}

.project-main .project-div:nth-of-type(odd) .project-link .project-img {
  box-shadow: 20px 20px #3182f9;
  transition: box-shadow 0.15s, transform 0.15s;
}

.project-main .project-div:nth-of-type(even) .project-link .project-img {
  box-shadow: 20px 20px #f6d95c;
  transition: box-shadow 0.15s, transform 0.15s;
}

.project-main .project-div .project-link .project-img:hover {
  transform: translate(20px, 20px);
  box-shadow: none;
}

/* EXPERIMENTS PAGE MAIN CONTENT STLYING */
.experiments-main {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: none;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.experiments-div {
  width: 45%;
  margin: 1.0rem;
}

.experiments-link {
  width: 100%;
  height: 100%;
}

.experiments-img {
  width: 100%;
  height: 100%;
  max-width: none;
  aspect-ratio: 16/9;
}

.experiments-main .experiments-div:nth-of-type(4n+1) .experiments-link .experiments-img {
  box-shadow: 12px 12px 0 0 #3182f9;
  transition: box-shadow 0.15s, transform 0.15s;
}

.experiments-main .experiments-div:nth-of-type(4n+2) .experiments-link .experiments-img {
  box-shadow: 12px 12px 0 0 #f6d95c;
  transition: box-shadow 0.15s, transform 0.15s;
}

.experiments-main .experiments-div:nth-of-type(4n+3) .experiments-link .experiments-img {
  box-shadow: 12px 12px 0 0 #f6d95c;
  transition: box-shadow 0.15s, transform 0.15s;
}

.experiments-main .experiments-div:nth-of-type(4n+4) .experiments-link .experiments-img {
  box-shadow: 12px 12px 0 0 #3182f9;
  transition: box-shadow 0.15s, transform 0.15s;
}

.experiments-main .experiments-div .experiments-link .experiments-img:hover {
  transform: translate(12px, 12px);
  box-shadow: none;
}

/* ABUT PAGE STYLING */

.about-main {
  display: flex;
  width: 90%;
  height: 100%;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  text-align: left;
  object-fit: fill;
}

.about-content {
  display: flex;
  width: 47%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  margin: 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  grid-column-gap: 3.0rem;
  grid-row-gap: 3.0rem;
  object-fit: fill;
}

.about-text {
  margin: 0;
  padding: 1.0rem;
  background-color: #f2d55c;
  box-shadow: 10px 10px 0 0 #3182f9;
  font-family: Ubuntu Mono;
  font-size: 1.375rem;
  line-height: 1.375rem;
  text-align: center;
  transition: box-shadow 0.15s, transform 0.15s;
}

.about-link-box {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1.0rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #3182f9;
  box-shadow: 12px 12px 0 0 #f2d55c;
  transition: box-shadow 0.15s, transform 0.15s;
}

.about-link {
  width: 100%;
  max-width: 100%;
}

.about-img {
  width: 47%;
  box-shadow: 0.625rem 0.625rem 0 0 #3182f9;
  object-fit: cover;
  transition: box-shadow 0.15s, transform 0.15s;
}

.about-img:hover,
.about-link-box:hover,
.about-text:hover {
  transform: translate(0.625rem, 0.625rem);
  box-shadow: none;
}

/* WORK PAGE CONTENT */

.work-main {
  display: flex;
  width: 80%;
  max-width: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}

.work-header {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.work-title {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Rubik";
  font-size: 3.0rem;
  font-weight: 600;
  color: #403f4c;
  text-align: center;
}

.work-header-linkbox {
  width: 33%;
  display: flex;
  padding: 15px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 0%;
  grid-row-gap: 0%;
  background-color: #3180f6;
  box-shadow: 12px 12px 0 0 #f3d65c;
}

.work-header-link {
  display: flex;
  padding:0;
  align-items: center;
  grid-column-gap: 0%;
  grid-row-gap: 0%;
}

.work-header-link-img {
  width: 50px;
}

.work-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.work-heroimage {
  width: 100%;
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 10px 10px 0 0 #f3d65c;
}

.work-description {
  width: 100%;
  height: 100%;
  margin-top: 2.0rem;
  padding: 1.0rem;
  background-color: #f3d65c;
  box-shadow: 12px 12px 0 0 #3180f6;
  font-family: Ubuntu Mono;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.work-image-containter {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 2.0rem;
  grid-row-gap: 2.0rem;
}

.work-image {
  width: 30%;
  box-shadow: 15px 15px 0 0 #3180f6;
}

@media screen and (max-width : 990px) {

  /* HEADER STYLING */
  header {
    flex-direction: column;
  }

  .page-logo-text {
    text-align: center;
  }

  /* EXPERIMENTS STYLING */
  .experiments-main {
    display: flex;
    width: 80%;
    height: 100%;
    max-width: none;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    grid-column-gap: 3.0rem;
    grid-row-gap: 3.0rem;
  }

  .experiments-div {
    display: flex;
    width: 80%;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }

  .experiments-main .experiments-div:nth-of-type(odd) .experiments-link .experiments-img {
    box-shadow: 20px 20px #3182f9;
    transition: box-shadow 0.15s, transform 0.15s;
  }

  .experiments-main .experiments-div:nth-of-type(even) .experiments-link .experiments-img {
    box-shadow: 20px 20px #f6d95c;
    transition: box-shadow 0.15s, transform 0.15s;
  }

  .experiments-main .experiments-div .experiments-link .experiments-img:hover {
    transform: translate(20px, 20px);
    box-shadow: none;
  }

  /* ABOUT STYLING */
  .about-main {
    flex-direction: column;
    width: 80%;

  }

  .about-content {
    width: 100%;
    align-items: center;
  }

  .about-img {
    margin-top: 3.0rem;
    width: 100%;
    box-shadow: 20px 20px #3182f9;
  }

  .about-text {
    box-shadow: 20px 20px #3182f9;
  }

  .about-link-box {
    box-shadow: 20px 20px #f6d95c;
  }

}

@media screen and (max-width : 600px) {

  /* HEADER STYLING */
  .page-logo-text {
    font-size: 2.25rem;

  }

  .navbar-item,
  .navbar-item-active {
    font-size: 1.0rem;
    margin: 0.25rem;
    padding: 0.5rem;
    box-shadow: 0.25rem 0.25rem;
  }

  /* PROJECT STYLING */
  .project-main {
    width: 100%;
    grid-row-gap: 1.0rem;
  }

  .project-div {
    width: 90%;
  }

  .project-main .project-div:nth-of-type(odd) .project-link .project-img {
    box-shadow: 0.5rem 0.5rem #3182f9;
  }

  .project-main .project-div:nth-of-type(even) .project-link .project-img {
    box-shadow: 0.5rem 0.5rem #f6d95c;
  }

  .project-main .project-div .project-link .project-img:hover {
    transform: translate(0.5rem, 0.5rem);
    box-shadow: none;
  }

  /* EXPERIMENT STYLING */
  .experiments-main {
    width: 100%;
    grid-row-gap: 1.0rem;
  }

  .experiments-div {
    width: 90%;
  }

  .experiments-main .experiments-div:nth-of-type(odd) .experiments-link .experiments-img {
    box-shadow: 0.5rem 0.5rem #3182f9;
  }

  .experiments-main .experiments-div:nth-of-type(even) .experiments-link .experiments-img {
    box-shadow: 0.5rem 0.5rem #f6d95c;
  }

  .experiments-main .experiments-div .experiments-link .experiments-img:hover {
    transform: translate(0.5rem, 0.5rem);
    box-shadow: none;
  }

  /* ABOUT STYLING */
  .about-main {
    flex-direction: column;
    width: 90%;
  }

  .about-text {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

  .about-content {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .about-img {
    margin-top: 1.5rem;
    box-shadow: 0.5rem 0.5rem #3182f9;
  }
  .about-text {
    box-shadow: 0.5rem 0.5rem #3182f9;
  }
  .about-link-box {
    box-shadow: 0.5rem 0.5rem #f6d95c;
  }

  .about-img:hover,
  .about-link-box:hover,
  .about-text:hover {
  transform: translate(0.625rem, 0.625rem);
  box-shadow: none;
}
}