/* DEFAULT / BASIC STYLING */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 1.125rem;
  margin-top: 0;
  font-family: "Ubuntu Mono", system-ui;
  color: #403F4C;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: #ffcce3;
}

/*
body.body-main {
  background-color: #ffcce3;
}
body.body-project {
  background-color: #C9DDFF;
}
body.body-experiment {
  background-color: #FFF4C9;
} */

img,
video {
  height: auto;
  max-width: 100%;
}

/* FOOTER STYLING */

footer {
  height: 1.0rem;
}

/* HEADER STYLING */

header {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  position: sticky;
  top: 0px;
  z-index: 999;
  justify-content: space-around;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #ffcce3;
  text-decoration: none;
}

.page-logo-link {
  text-decoration: none;
}

.page-logo-link:hover {
  transition: transform 0.15s;
}

.page-logo-text {
  margin-top: 0.625rem;
  font-family: "Rubik", system-ui;
  font-size: 4.0rem;
  font-weight: 600;
  color: #3183fa;
  text-decoration: none;
  text-shadow: 0.3125rem 0.3125rem #f7da5c;
  transition: text-shadow 0.15s;
}

.page-logo-text:hover {
  text-shadow: none;
}

.page-logo-link:hover {
  transform: translate(5px, 5px);
}

/* NAVBAR STYLING*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  transition: transform 0.15s;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: right;
}

.navbar-item {
  margin: 0.625rem;
  padding: 0.625rem;
  background-color: #f7da5c;
  box-shadow: 5px 5px 0 0 #3183fa;
  color: #3183fa;
  font-size: 1.375rem;
  font-weight: 400;
  text-decoration: none;
  transition: box-shadow 0.15s;
}

.navbar-item-active {
  margin: 0.625rem;
  padding: 0.625rem;
  background-color: #3183fa;
  box-shadow: 0.3125rem 0.3125rem 0 0 #f7da5c;
  color: #f7da5c;
  font-size: 1.375rem;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  transition: box-shadow 0.15s;
}

li:hover {
  transform: translate(5px, 5px);
}

li a:hover {
  box-shadow: none;
}

li a.navbar-item:active,
i a.navbar-item:focus {
  box-shadow: none;
  background-color: #3183fa;
  color: #f7da5c;
  transform: translate(5px, 5px);
}

/* INDEX PAGE MAIN CONTENT STLYING */
.project-main {
  display: flex;
  width: 80%;
  height: 100%;
  max-width: none;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 3.0rem;
  grid-row-gap: 3.0rem;
}

.project-div {
  display: flex;
  width: 80%;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.project-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  grid-row-gap: 0;
}

.project-img {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.project-tagline-div {
  width: 100%;
  margin-top: 0;
  transition: box-shadow 0.15s, transform 0.15s;
}

.project-tagline-text {
  padding: 1.0rem;
  text-align: center;
  margin: 0;
}

.project-main .project-div:nth-of-type(odd) .project-link .project-tagline-div {
  background-color: #f2d55c;
  box-shadow: 20px 20px #3182f9;
}

.project-main .project-div:nth-of-type(even) .project-link .project-tagline-div {
  background-color: #3182f9;
  box-shadow: 20px 20px #f2d55c;
}

.project-div:nth-of-type(odd) .project-link .project-tagline-div .project-tagline-text {
  color: #403F4C;
}

.project-div:nth-of-type(even) .project-link .project-tagline-div .project-tagline-text {
  color: white;
}

.project-main .project-div:nth-of-type(odd) .project-link .project-img {
  box-shadow: 20px 20px #3182f9;
  transition: box-shadow 0.15s, transform 0.15s;
}

.project-main .project-div:nth-of-type(even) .project-link .project-img {
  box-shadow: 20px 20px #f6d95c;
  transition: box-shadow 0.15s, transform 0.15s;
}

.project-main .project-div:hover .project-link .project-img {
  transform: translate(20px, 20px);
  box-shadow: none;
}

.project-main .project-div:hover .project-link .project-tagline-div {
  transform: translate(20px, 20px);
  box-shadow: none;
}

/* EXPERIMENTS PAGE MAIN CONTENT STLYING */
.experiments-main {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: none;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 2.0rem;
  grid-row-gap: 2.0rem;
}

.experiments-div {
  width: 45%;
}

.experiments-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  grid-row-gap: 0;
}

.experiments-img {
  width: 100%;
  height: 100%;
  max-width: none;
  aspect-ratio: 16/9;
  margin-bottom: 0;
}

.experiments-tagline-div {
  width: 100%;
  margin-top: 0;
  transition: box-shadow 0.15s, transform 0.15s;
}

.experiments-tagline-text {
  padding: 1.0rem;
  text-align: center;
  margin: 0;
}

.experiments-main .experiments-div:nth-of-type(4n+1) .experiments-link .experiments-tagline-div,
.experiments-main .experiments-div:nth-of-type(4n+4) .experiments-link .experiments-tagline-div {
  background-color: #f2d55c;
  box-shadow: 12px 12px #3182f9;
}

.experiments-main .experiments-div:nth-of-type(4n+2) .experiments-link .experiments-tagline-div,
.experiments-main .experiments-div:nth-of-type(4n+3) .experiments-link .experiments-tagline-div {
  background-color: #3182f9;
  box-shadow: 12px 12px #f2d55c;
}

.experiments-div:nth-of-type(4n+1) .experiments-link .experiments-tagline-div .experiments-tagline-text,
.experiments-div:nth-of-type(4n+4) .experiments-link .experiments-tagline-div .experiments-tagline-text  {
  color: #403F4C;
}

.experiments-div:nth-of-type(4n+2) .experiments-link .experiments-tagline-div .experiments-tagline-text,
.experiments-div:nth-of-type(4n+3) .experiments-link .experiments-tagline-div .experiments-tagline-text  {
  color: white;
}

.experiments-main .experiments-div:hover .experiments-link .experiments-tagline-div {
  transform: translate(12px, 12px);
  box-shadow: none;
}

.experiments-main .experiments-div:nth-of-type(4n+1) .experiments-link .experiments-img,
.experiments-main .experiments-div:nth-of-type(4n+4) .experiments-link .experiments-img {
  box-shadow: 12px 12px 0 0 #3182f9;
  transition: box-shadow 0.15s, transform 0.15s;
}

.experiments-main .experiments-div:nth-of-type(4n+2) .experiments-link .experiments-img,
.experiments-main .experiments-div:nth-of-type(4n+3) .experiments-link .experiments-img {
  box-shadow: 12px 12px 0 0 #f6d95c;
  transition: box-shadow 0.15s, transform 0.15s;
}

.experiments-main .experiments-div:hover .experiments-link .experiments-img {
  transform: translate(12px, 12px);
  box-shadow: none;
}

/* ABUT PAGE STYLING */

.about-main {
  display: flex;
  width: 90%;
  height: 100%;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  text-align: left;
  object-fit: fill;
}

.about-content {
  display: flex;
  width: 47%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  margin: 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  grid-column-gap: 3.0rem;
  grid-row-gap: 3.0rem;
  object-fit: fill;
}

.about-text {
  margin: 0;
  padding: 1.0rem;
  background-color: #f2d55c;
  box-shadow: 10px 10px 0 0 #3182f9;
  font-family: Ubuntu Mono;
  font-size: 1.375rem;
  line-height: 1.375rem;
  text-align: center;
  transition: box-shadow 0.15s, transform 0.15s;
}

.about-link-box {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1.0rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 2.0rem;
  background-color: #3182f9;
  box-shadow: 12px 12px 0 0 #f2d55c;
  transition: box-shadow 0.15s, transform 0.15s;
}

.about-link {
  width: 100%;
  max-width: 100%;
}

.about-img {
  width: 47%;
  box-shadow: 0.625rem 0.625rem 0 0 #3182f9;
  object-fit: cover;
  transition: box-shadow 0.15s, transform 0.15s;
}

.about-img:hover,
.about-link-box:hover,
.about-text:hover {
  transform: translate(0.625rem, 0.625rem);
  box-shadow: none;
}

/* communal elemenet styling */

.main-header {
  display: flex;
  flex-direction: column;
  margin-top: 1.0rem;
  margin-bottom: 1.5rem;
  width: 100%;
  align-items: center;
  grid-row-gap: 0.5rem;
}

.main-header-title {
  width: 100%;
  margin-top: 0.0rem;
  margin-bottom: -0.5rem;
  font-family: "Rubik";
  font-size: 5.0rem;
  line-height: 5.0rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.main-header-text {
  font-size: 1.375rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

/* WORK PAGE CONTENT */

.work-main {
  display: flex;
  width: 80%;
  max-width: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  grid-row-gap: 2.0rem;
  grid-column-gap: 2.0rem;
}

.work-header {
  display: flex;
  flex-direction: column;
  margin-top: 1.0rem;
  margin-bottom: -1.0rem;
  width: 100%;
  align-items: center;
  grid-row-gap: 0.5rem;
}

.work-title {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Rubik";
  font-size: 5.0rem;
  font-weight: 600;
  line-height: 5.0rem;
  text-align: center;
  text-transform: uppercase;
}

.work-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  grid-column-gap: 2.0rem;
  grid-row-gap: 2.0rem;
}

.work-heroimage-div {
  width: 100%;
  height: auto;
}

.work-heroimage {
  aspect-ratio: 16/9;
  height: auto;
  width: 100%;
  box-shadow: 1.0rem 1.0rem 0 0 #f3d65c;
  transition: box-shadow 0.15s, transform 0.15s;
}

.work-description-div {
  width: 100%;
  height: auto;
}

.work-description {
  width: 100%;
  height: 100%;
  margin: 0.0rem;
  padding: 1.0rem;
  background-color: #f3d65c;
  box-shadow: 1.0rem 1.0rem 0 0 #3180f6;
  font-family: Ubuntu Mono;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  transition: box-shadow 0.15s, transform 0.15s;
}

.work-link {
  color: #3180f6;
  font-size: 1.5rem;
}

.work-image-containter {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 2.0rem;
  grid-row-gap: 2.0rem;
}

.work-link-break {
  display: none;
}

.work-image-div {
  width: 30%;
}

.work-image {
  transition: box-shadow 0.15s, transform 0.15s;
}

.work-image-portrait-div {
  width: 45%;
}

.work-image-portrait {
  transition: box-shadow 0.15s, transform 0.15s;
}

.work-image-div:nth-of-type(odd) .work-image,
.work-image-portrait-div:nth-of-type(odd) .work-image-portrait {
  box-shadow: 1.0rem 1.0rem 0 0 #f3d65c;
}

.work-image-div:nth-of-type(even) .work-image,
.work-image-portrait-div:nth-of-type(even) .work-image-portrait {
  box-shadow: 1.0rem 1.0rem 0 0 #3180f6;
}

.work-header-linkbox:hover,
.work-heroimage-div:hover .work-heroimage,
.work-description-div:hover .work-description,
.work-image-div:hover .work-image,
.work-image-portrait-div:hover .work-image-portrait {
  transform: translate(1.0rem, 1.0rem);
  box-shadow: none;
}

/* PAGE SPECIFIC TWEAKS*/
.oceanbg {
  background-image: url("assets/Ocean Explorer Thumbnail.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width : 990px) {

  /* HEADER STYLING */
  header {
    flex-direction: column;
    padding-bottom: 1.5rem;
  }

  .page-logo-text {
    text-align: center;
    text-shadow: 0.3125rem 0.3125rem #f7da5c;
  }

  .main-header {
    margin-top: 1.0rem;
    margin-bottom: 0.5rem;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  .main-header-title {
    font-size: 4.0rem;
    line-height: 4.0rem;
  }

  .main-header-text {
    font-size: 1.375rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin: 0;
  }

  /* EXPERIMENTS STYLING */
  .experiments-main {
    display: flex;
    width: 80%;
    height: 100%;
    max-width: none;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    grid-column-gap: 3.0rem;
    grid-row-gap: 3.0rem;
  }

  .experiments-div {
    display: flex;
    width: 80%;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }

  .experiments-main .experiments-div:nth-of-type(odd) .experiments-link .experiments-img {
    box-shadow: 20px 20px #3182f9;
    transition: box-shadow 0.15s, transform 0.15s;
  }

  .experiments-main .experiments-div:nth-of-type(even) .experiments-link .experiments-img {
    box-shadow: 20px 20px #f6d95c;
    transition: box-shadow 0.15s, transform 0.15s;
  }

  .experiments-main .experiments-div:nth-of-type(odd) .experiments-link .experiments-tagline-div {
    background-color: #f2d55c;
    box-shadow: 20px 20px #3182f9;
    transition: box-shadow 0.15s, transform 0.15s;
  }

  .experiments-main .experiments-div:nth-of-type(even) .experiments-link .experiments-tagline-div {
    background-color: #3180f6;
    box-shadow: 20px 20px #f6d95c;
    transition: box-shadow 0.15s, transform 0.15s;
  }
  .experiments-div:nth-of-type(odd) .experiments-link .experiments-tagline-div .experiments-tagline-text  {
    color:#403F4C
  }

  .experiments-div:nth-of-type(even) .experiments-link .experiments-tagline-div .experiments-tagline-text {
    color: white;
  }

  .experiments-main .experiments-div .experiments-link .experiments-img:hover {
    transform: translate(20px, 20px);
    box-shadow: none;
  }

  /* ABOUT STYLING */
  .about-main {
    flex-direction: column;
    width: 80%;

  }

  .about-content {
    width: 100%;
    align-items: center;
  }

  .about-img {
    margin-top: 3.0rem;
    width: 100%;
    box-shadow: 20px 20px #3182f9;
  }

  .about-text {
    box-shadow: 20px 20px #3182f9;
  }

  .about-link-box {
    box-shadow: 20px 20px #f6d95c;
  }

  /* communal page elements styling*/

  .main-header-title {
    font-size: 4.0rem;
  }

  /* WORKS STYLING */

  .work-title {
    font-size: 4.0rem;
  }

  .work-content {
    width: 100%;
  }

  .work-description {
    margin-bottom: 0rem;
  }

  .work-image-div {
    width: 47%;
  }

  .work-image-containter {
    width: 100%;
  }

  .work-link-break {
    display: inline;
  }

  .work-image-div:nth-of-type(4n+1) .work-image,
  .work-image-div:nth-of-type(4n+4) .work-image {
    box-shadow: 1.0rem 1.0rem 0 0 #f3d65c;
  }

  .work-image-div:nth-of-type(4n+2) .work-image,
  .work-image-div:nth-of-type(4n+3) .work-image {
    box-shadow: 1.0rem 1.0rem 0 0 #3182f9;
  }

  .work-image-div:hover .work-image {
    transform: translate(1.0rem, 1.0rem);
    box-shadow: none;
  }

}

@media screen and (max-width : 600px) {

  /* HEADER STYLING */
  .page-logo-text {
    text-shadow: 0.25rem 0.25rem #f7da5c;
    font-size: 2.25rem;
  }

  .navbar-item,
  .navbar-item-active {
    font-size: 1.0rem;
    margin: 0.25rem;
    padding: 0.5rem;
    box-shadow: 0.25rem 0.25rem;
  }

  .main-header {
    margin-top: 0.0rem;
    margin-bottom: -0.5rem;
    width: 100%;
  }

  .main-header-title {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }

  .main-header-text {
    font-size: 1.0rem;
    line-height: 1.0rem;
    font-weight: 400;
    margin: 0;
  }

  /* PROJECT STYLING */
  .project-main {
    width: 100%;
    grid-row-gap: 1.0rem;
  }

  .project-div {
    width: 90%;
  }

  .project-tagline-text {
    font-size: 1.0rem;
    line-height: 1.0rem;
    font-weight: 400;
    padding: 0.5rem;
  }

  .project-main .project-div:nth-of-type(odd) .project-link .project-img {
    box-shadow: 0.5rem 0.5rem #3182f9;
  }

  .project-main .project-div:nth-of-type(even) .project-link .project-img {
    box-shadow: 0.5rem 0.5rem #f6d95c;
  }

  .project-main .project-div:hover .project-link .project-img {
    transform: translate(0.5rem, 0.5rem);
    box-shadow: none;
  }

  .project-main .project-div:nth-of-type(odd) .project-link .project-tagline-div {
    box-shadow: 0.5rem 0.5rem #3182f9;
  }

  .project-main .project-div:nth-of-type(even) .project-link .project-tagline-div {
    box-shadow: 0.5rem 0.5rem #f6d95c;
  }

  .project-main .project-div:hover .project-link .project-tagline-div {
    transform: translate(0.5rem, 0.5rem);
    box-shadow: none;
  }

  /* EXPERIMENT STYLING */
  .experiments-main {
    width: 100%;
    grid-row-gap: 1.0rem;
  }

  .experiments-div {
    width: 90%;
  }

  .experiments-tagline-text {
    font-size: 1.0rem;
    line-height: 1.0rem;
    font-weight: 400;
    padding: 0.5rem;
  }

  .experiments-main .experiments-div:nth-of-type(odd) .experiments-link .experiments-img {
    box-shadow: 0.5rem 0.5rem #3182f9;
  }

  .experiments-main .experiments-div:nth-of-type(even) .experiments-link .experiments-img {
    box-shadow: 0.5rem 0.5rem #f6d95c;
  }

  .experiments-main .experiments-div:hover .experiments-link .experiments-img {
    transform: translate(0.5rem, 0.5rem);
    box-shadow: none;
  }

  .experiments-main .experiments-div:nth-of-type(odd) .experiments-link .experiments-tagline-div {
    box-shadow: 0.5rem 0.5rem #3182f9;
  }

  .experiments-main .experiments-div:nth-of-type(even) .experiments-link .experiments-tagline-div {
    box-shadow: 0.5rem 0.5rem #f6d95c;
  }

  .experiments-main .experiments-div:hover .experiments-link .experiments-tagline-div {
    transform: translate(0.5rem, 0.5rem);
    box-shadow: none;
  }

  /* ABOUT STYLING */
  .about-main {
    flex-direction: column;
    width: 90%;
  }

  .about-text {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

  .about-content {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .about-img {
    margin-top: 1.5rem;
    box-shadow: 0.5rem 0.5rem #3182f9;
  }

  .about-text {
    box-shadow: 0.5rem 0.5rem #3182f9;
  }

  .about-link-box {
    padding: 0.5rem;
    grid-column-gap: 1.0rem;
    box-shadow: 0.5rem 0.5rem #f6d95c;
  }

  .about-img:hover,
  .about-link-box:hover,
  .about-text:hover {
    transform: translate(0.625rem, 0.625rem);
    box-shadow: none;
  }

  /* WORKS STYLING */
  .work-main {
    width: 90%;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .work-title {
    font-size: 2.25rem;
    line-height: 2.25rem;
    ;
  }

  .work-heroimage {
    box-shadow: 0.5rem 0.5rem 0 0 #f3d65c;
  }

  .work-content {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .work-description {
    font-size: 0.8rem;
    line-height: 0.8rem;
    box-shadow: 0.5rem 0.5rem 0 0 #3180f6;
  }

  .work-link {
    color: #3180f6;
    font-size: 1.0rem;
  }

  .work-image-containter {
    flex-direction: column;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .work-image-div {
    width: 100%;
  }

  .work-image-portrait-div {
    width: 100%;
  }

  .work-image-div:nth-of-type(odd) .work-image,
  .work-image-portrait-div:nth-of-type(odd) .work-image-portrait {
    box-shadow: 0.5rem 0.5rem 0 0 #f3d65c;
  }

  .work-image-div:nth-of-type(even) .work-image,
  .work-image-portrait-div:nth-of-type(even) .work-image-portrait {
    box-shadow: 0.5rem 0.5rem 0 0 #3180f6;
  }

  .work-header-linkbox:hover,
  .work-heroimage-div:hover .work-heroimage,
  .work-description-div:hover .work-description,
  .work-image-div:hover .work-image,
  .work-image-portrait-div:hover .work-image-portrait {
    transform: translate(0.5rem, 0.5rem);
    box-shadow: none;
  }

}